# 2.1 Carregamento dos Dados Limpos

In [2]:
import pandas as pd

df_limpo = pd.read_csv('../data/processed/imoveis_bh_cleaned.csv')

df_limpo.head()

,id,area_m2,quartos,banheiros,vagas_garagem,bairro,andar,preco,tipo_imovel,ano_construcao
0,1,85,3,2,1,Savassi,5,750000,Apartamento,1995
1,2,120,4,3,2,Lourdes,10,1200000,Apartamento,2010
2,3,250,5,4,3,Pampulha,0,2500000,Casa,2005
3,4,60,1,1,1,Centro,2,400000,Apartamento,2018
4,5,180,4,3,2,Anchieta,3,1500000,Apartamento,2008

# 2.2 Engenharia de features

In [3]:
from datetime import datetime

ano_atual = datetime.now().year

df_limpo['idade_imovel'] = ano_atual - df_limpo['ano_construcao']

df_limpo.head()

,id,area_m2,quartos,banheiros,vagas_garagem,bairro,andar,preco,tipo_imovel,ano_construcao,idade_imovel
0,1,85,3,2,1,Savassi,5,750000,Apartamento,1995,30
1,2,120,4,3,2,Lourdes,10,1200000,Apartamento,2010,15
2,3,250,5,4,3,Pampulha,0,2500000,Casa,2005,20
3,4,60,1,1,1,Centro,2,400000,Apartamento,2018,7
4,5,180,4,3,2,Anchieta,3,1500000,Apartamento,2008,17